<div class="main fixed-size">

  <div class="main__background">

      <div class="main__background__background background-zombie"></div>
      <div class="main__background__background background-red"></div>
      <div class="main__background__background background-gradient"></div>
      <div class="main__background__background background-video"></div>
      <div class="main__background__background background-clouds"></div>
      <div class="main__background__background background-big-fire"></div>
      <div class="main__background__background background-small-fire"></div>

  </div>
  <div class="main__overlay">
      <div class="main__header">
          <div class="main__header__navigation">
              <div class="main__header__navigation__item item-logotype"></div>
              <div class="main__header__navigation__item" onclick="window.open('/start')">Как начать играть</div>
              <div class="main__header__navigation__item" onclick="window.open('https://forum.amazing-zm.ru')">Форум</div>
              <div class="main__header__navigation__item" onclick="window.open('/help')">Помощь</div>
              <div class="main__header__navigation__item" onclick="window.open('/start')">Предметы</div>
              <div class="main__header__navigation__item item-donate" onclick="window.open('/donate')">
                  <div class="main__header__navigation__item item-donate-rectangle"></div>
                  <div class="main__header__navigation__item item-donate-text">Донат</div>
              </div>
          </div>
          <div class="main__header__socials">
              <div class="main__header__socials__label">Будь в курсе всех событий –</div>
              <div class="main__header__socials__item">
                  <div class="main__header__socials__item item-discord"></div>
                  <div class="main__header__socials__item item-vk"></div>
                  <div class="main__header__socials__item item-twitter"></div>
                  <div class="main__header__socials__item item-youtube"></div>
              </div>
          </div>
      </div>

      <div class="main__content">
        <div class="index">
            <div class="index__left-side">
                <div class="index__preview">
                    <div class="index__preview__hint">Режим “ Зомби Апокалипсис “</div>
                    <div class="index__preview__title">Лучший зомби мод, который вы видели</div>
                    <div class="index__preview__description">Выживите в новой суровой реальности. В реальности,<br>
                        где вам придётся бороться за свою жизнь каждый<br>
                        день. Один неверный шаг обойдётся вам жизнью.<br>
                        Постройте свою базу, создайте клан и начните<br>
                        своё завораживающее путешествие!</div>
                </div>
                <div class="index__designer">
                    <div class="index__designer__item item-icon-b">B</div>
                    <div class="index__designer__item item-icon-xx">XX</div>
                    <div class="index__designer__item item-text">Элитный дизайн от ©Buublexx.
                        Verified ✓. 2020</div>
                </div>
            </div>
            <div class="index__right-side">
                <div class="index__right-side__item_icon" onclick="window.open('https://youtube.com')"></div>
                <div class="index__right-side__item_text">Смотреть трейлер</div>

                <div class="index__right-side__news">
                    <div class="index__right-side__news__item item-redRectangle"></div>
                    <div class="index__right-side__news__item item-whiteRectangle"></div>
                    <div class="index__right-side__news__item item-icon"></div>
                    <div class="index__right-side__news__item item-slider"></div>
                    <div class="index__right-side__news__item item-text">Обновление за 01.07.20</div>
                </div>
                <div class="modes">
                    <div class="modes__count">4 режима на 1 сервере</div>
                    <div class="modes__about">
                        <div class="modes__about__item item-zombie">Зомби</div>
                        <div class="modes__about__item">PUBG</div>
                        <div class="modes__about__item">DM</div>
                        <div class="modes__about__item">TDM</div>
                    </div>
                    <div class="modes__circle">
                        <div class="modes__circle__item item-active-small-eclipse"></div>
                        <div class="modes__circle__item item-active-eclipse"></div>
                        <div class="modes__circle__item"></div>
                        <div class="modes__circle__item"></div>
                        <div class="modes__circle__item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__footer">
      <div class="main__footer__server">
          <div class="main__footer__server__online">
              <div class="main__footer__server__online__item item-title">Игроки онлайн</div>
              <div class="main__footer__server__online__item item-text">389/500</div>
          </div>
          <div class="main__footer__server__info">
              <div class="main__footer__server__info__item item-title">Наш сервер</div>
              <div class="main__footer__server__info__item item-ip">194.61.44.100:7777</div>
          </div>
          <div class="main__footer__server__start">
              <div class="main__footer__server__start__item">Начать играть</div>
         </div>
      </div>
  </div>
</div>